.main {
  height: auto;
  flex-direction: column;
}

.container {
  height: 100vh;
  display: flex;
  align-items: center;
}

.box {
  height: 2000px;
}

.box__buttons {
  position: fixed;
  bottom: 10px;
  right: 10px;
}

#goTop {
  display: none;
}
